html {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}

body {
    font-family: "Segoe UI";

}

h1 {
    font-weight: 1000;
    text-align: center;
}

h2 {
    font-weight: 500;
}

hr {
    border-color: #94E3FA;
    border-style: dashed;
}