html {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    color-scheme: dark;
    font-family: 'Merriweather';
}

body {
    line-height: 1.6;
}

h1 {
    font-weight: 1000;
    font-size: 3rem;

}

h2 {
    font-weight: 500;
}

hr {
    border: 2px solid #94E3FA;
}