html {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    color-scheme: dark;
}

body {
    font-family: 'Merriweather';
    line-height: 1.6;

}

h1 {
    font-weight: 1000;
    font-size: 3rem;

}

h2 {
    font-weight: 500;
}

hr {
    border-color: #94E3FA;
    border-style: dashed;
}