* {
  box-sizing: border-box;
  font-family: 'Red Hat Display', "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

:root {
  height: 100%;
}

/* navbar css */
nav {
  background-color: #5B8F52;
}

.form-control,
.btn,
.navbar-toggler {
  border-radius: 15px;
}

form {
  margin-right: .5rem;
}

/* temp navbar css */
.navbar-brand img {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 30%));
}

.nav-item {
  font-weight: bold;
}

body {
  flex-direction: column;
  font-family: 'Red Hat Display', "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  margin: 0;
  height: inherit;
  background-color: #DEDEDE;
}

body {
  flex-direction: column;
  font-family: 'Red Hat Display', "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  margin: 0;
  height: inherit;
  background-color: #DEDEDE;
}

.banner {
    display: none;
}

.d-flex {
  margin-left: auto;
}

.categories .card-body {
    margin: auto;
}

.categories .card-title {
    text-align: center;
}

.container {
  display: flex;
}

.flex-inner {
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 1rem;
}

.list-sidebar {
  /* Column divider line */
  border-right: solid .2rem black;
  flex: 0 2 200px;
  height: 100%;
  padding-bottom: 7.5em;
  background-color: #CDFCD9;
  /*eee*/
}

.flex-display h1 {
  text-align: center;
}

.flex-display p {
  flex-wrap: wrap;
}

.flex-display {
  background-color: #eee;
  flex: 180px 1 1;
}

.card {
  flex: 0 1 175px;
  background-color: white;
  margin: .5rem;
  border-radius: 10px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

.card img {
  object-fit: cover;
  border-radius: 10px;
}

.list-name {
  font-size: 100%;
  font-weight: bold;
  padding: .5rem 1rem;
}

/* results page */
#social-links {
  font-size: 2rem;
}

.results-image {
  width: 150px;
  height: 150px;
  border-radius: 5px 0 0 5px;
}

.company-heading {
  font-size: 20px;
  text-decoration: none;
}

.company-heading:hover {
  text-decoration: solid #000 2px;
}

.address-text {
  font-size: 12px;
}

.result-container {
  border-radius: 5px;
  background-color: #eee;
}

/* Footer */
.footer-apoio {
  padding: 50px 0;
  color: #FFFFFF;
  /* text-shadow: 1px 0 0 rgb(187, 187, 187); */
  font-weight: bold;
  background-color: #5B8F52;
}

.footer-apoio h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-apoio ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 0;
}

.footer-apoio ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-apoio ul a:hover {
  opacity: 0.8;
}

.footer-apoio .item.text {
  margin-bottom: 36px;
}

.footer-apoio .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-apoio .item.socials {
  text-align: center;
}

.footer-apoio .item.socials>a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: .75;
}

@media (max-width: 576px) {
  .profile-img {
    width: 50px;
    height: 50px;
  }

  h1 {
    font-size: 1.5em;
  }

  p {
    font-size: .8em;
  }
  
  .footer-apoio ul a {
    color: inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-apoio ul a:hover {
    opacity: 0.8;
  }
  
  .footer-apoio .item.text {
    margin-bottom: 36px;
  }
  
  .footer-apoio .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-apoio .item.socials {
    text-align: center;
  }
  
  .footer-apoio .item.socials > a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(255,255,255,0.4);
    margin:0 8px;
    color: #fff;
    opacity: .75;
    }
  }

  @media (min-width: 768px) {
    .banner {
      display: block;
    }
  }