body {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    margin-left: auto;
    margin-right: auto;
    background-color: #4b2e83;
    color: white;
    font-family: 'Roboto';
    max-width: 1000px;
    line-height: 1.6;
}

section {
    padding-bottom: 3%;
}

h1 {
    font-weight: 1000;
    font-size: 3rem;
    text-align: center;

}

h2 {
    font-weight: 500;
}

hr {
    border: 2px solid #b7a57a;
}

a:link {
    color: #b7a57a;
    
}

a:visited {
    color: #e8e3d3;
}

a:hover {
    color: #ffffff;
}